.photo4 {
  flex: 0 1 25%;
  height: 100%;
  background-image: url("/images/photo4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.photo4:hover .gallery-photo-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
  padding: 0 20px;
}
.photo4:hover .photo-content-title {
  font-weight: 600;
  margin-bottom: 10px;
}
.photo4:hover .photo-content-text {
  text-align: center;
  margin-bottom: 20px;
}
.photo4:hover .photo-content-btn {
  padding: 5px 20px;
  border-radius: 5px;
  border: 1px solid white;
}
.photo4:hover .photo-content-btn:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
.photo5 {
  flex: 0 1 200px;
  height: 100%;
  background-image: url("/images/photo5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.photo5:hover .gallery-photo-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
  padding: 0 20px;
}
.photo5:hover .photo-content-title {
  font-weight: 600;
  margin-bottom: 10px;
}
.photo5:hover .photo-content-text {
  text-align: center;
  margin-bottom: 20px;
}
.photo5:hover .photo-content-btn {
  padding: 5px 20px;
  border-radius: 5px;
  border: 1px solid white;
}
.photo5:hover .photo-content-btn:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
.photo6 {
  flex: 1 1 25%;
  height: 100%;
  background-image: url("/images/photo6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.photo6:hover .gallery-photo-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
  padding: 0 20px;
}
.photo6:hover .photo-content-title {
  font-weight: 600;
  margin-bottom: 10px;
}
.photo6:hover .photo-content-text {
  text-align: center;
  margin-bottom: 20px;
}
.photo6:hover .photo-content-btn {
  padding: 5px 20px;
  border-radius: 5px;
  border: 1px solid white;
}
.photo6:hover .photo-content-btn:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
.photo7 {
  flex: 0 1 25%;
  height: 100%;
  background-image: url("/images/photo7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.photo7:hover .gallery-photo-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
  padding: 0 20px;
}
.photo7:hover .photo-content-title {
  font-weight: 600;
  margin-bottom: 10px;
}
.photo7:hover .photo-content-text {
  text-align: center;
  margin-bottom: 20px;
}
.photo7:hover .photo-content-btn {
  padding: 5px 20px;
  border-radius: 5px;
  border: 1px solid white;
}
.photo7:hover .photo-content-btn:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
