@import url("Normalize.css");
@import url("gallery.css");
@font-face {
  font-family: "Garamond";
  src: url(./font/EBGaramond-VariableFont_wght.ttf);
}

body{
  font-family: 'Garamond';
}

h3{
  margin: 0;
}

.container{
  width: 1000px;
  height: 100vh;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  
}

.line{
  width: 100%;
  border-bottom: 1px solid #d8d6d6;
}

.btn{
  display: inline;
  padding: 5px 20px;
  color: #a8a7a7;
  border-radius: 5px;
  border: 1px solid #d8d6d6;
}

.btn:hover{
  color: white;
  background-color: #d8d6d6;
  cursor:pointer;
}

/* ====================================================================== */
/* =============================== HEADER =============================== */
/* ====================================================================== */
header{
  display: flex;
  align-items: center;
  padding: 10px 30px;
}

ul{
  display: flex;
  margin: 0;
  list-style-type: none;
}

li{
  padding-left: 20px;
}

a{
  text-decoration: none;
  color: black;
}

nav{
  flex-grow: 1;
}

.icon{
  width: 16px;
  height: 16px;
}

/* ==================================================================== */
/* =============================== MAIN =============================== */
/* ==================================================================== */
main{
  flex: 1 1 100%;
}

.content-item{
  display: flex;
  align-items: center;
}

.content-item-text{
  padding: 0 50px;
  text-align: justify;
}

.content-item-img-big{
  width: 500px;
  height: 350px;
  margin-bottom: -4px;
}

.title{
  font-weight: 500;
  font-size: 35px;
}

.sub-text{
  font-size: 18px;
}

.description{
  margin-bottom: 30px;
}

.content-item-img{
  width: 300px;
  margin-bottom: -4px;
}

.sub-title{
  font-weight: 500;
  font-size: 25px;
}

/* ------------------------------- Gallery ------------------------------- */

.gallery{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.gallery-photo{
  display: flex;
  width: 100%;
  height: 200px;
  margin-top: 30px;
  position: relative;
  &:hover{
    .arrow-left{
      display: block;
      width: 50px;
      height: 50px;
      position: absolute;
      top: 75px;
      left: -10px;
    }
    .arrow-right{
      display: block;
      width: 50px;
      height: 50px;
      position: absolute;
      top: 75px;
      left: 96%;
    }
  }
}

.gallery-photo-content{
  display: none;
}
.arrow-left{
  display: none;
}
.arrow-right{
  display: none;
}

/* ------------------------------- Features ------------------------------- */

.features{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  padding: 0 50px;
}

.features-items{
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.vertical-line{
  border-right: 1px solid #d8d6d6;
}

.item{
  flex: 1 1 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.item-icon{
  width: 32px;
  height: 32px;
  margin-bottom: 20px;
}

.item-title{
  font-weight: 600;
  margin-bottom: 20px;
}

.item-description{
  text-align: center;
  padding: 0 30px;
}

/* ------------------------------- Write to us ------------------------------- */

.write-to-us{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.input-block{
  display: flex;
  margin-top: 30px;
  margin-bottom: 20px;
}
.block:not(:last-child){
  margin-right: 30px;
}
.via{
  margin-right: 5px;
}
.label-radio{
  margin-right: 30px;
  margin-left: 5px;
}
.contact-me{
  margin-bottom: 20px;
}
.topic{
  margin-bottom: 20px;
}
.message{
  margin-bottom: 10px;
}
.message-textarea{
  width: 100%;
  resize: none;
}
.send{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.btn-send{
  padding: 5px 20px;
  color: #a8a7a7;
  border-radius: 5px;
  border: 1px solid #d8d6d6;
}
.i-am{
  margin-left: 5px;
}

/* ====================================================================== */
/* =============================== FOOTER =============================== */
/* ====================================================================== */
footer{
}
